---
http_interactions:
- request:
    method: get
    uri: https://www.swapi.tech/api/people/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"540-mA3PqkczYAdRmjx9eTYH3LeLNyo"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1752716095'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"ok","result":{"properties":{"created":"2025-07-16T19:13:27.195Z","edited":"2025-07-16T19:13:27.195Z","name":"Luke
        Skywalker","gender":"male","skin_color":"fair","hair_color":"blond","height":"172","eye_color":"blue","mass":"77","homeworld":"https://www.swapi.tech/api/planets/1","birth_year":"19BBY","url":"https://www.swapi.tech/api/people/1"},"_id":"5f63a36eee9fd7000499be42","description":"A
        person within the Star Wars universe","uid":"1","__v":2},"apiVersion":"1.0","timestamp":"2025-07-17T01:19:54.193Z","support":{"contact":"admin@swapi.tech","donate":"https://www.paypal.com/donate/?business=2HGAUVTWGR5T2&no_recurring=0&item_name=Support+Swapi+and+keep+the+galaxy%27s+data+free%21+Your+donation+fuels+open-source+innovation+and+helps+us+grow.+Thank+you%21+%F0%9F%9A%80&currency_code=USD","partnerDiscounts":{"saberMasters":{"link":"https://www.swapi.tech/partner-discount/sabermasters-swapi","details":"Use
        this link to automatically get $10 off your purchase!"},"heartMath":{"link":"https://www.heartmath.com/ryanc","details":"Looking
        for some Jedi-like inner peace? Take 10% off your heart-brain coherence tools
        from the HeartMath Institute!"}}},"social":{"discord":"https://discord.gg/zWvA6GPeNG","reddit":"https://www.reddit.com/r/SwapiOfficial/","github":"https://github.com/semperry/swapi/blob/main/CONTRIBUTORS.md"}}'
  recorded_at: Thu, 17 Jul 2025 01:19:54 GMT
recorded_with: VCR 6.3.1
